[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.0"
uvicorn = {version = "==0.30.6", extras = ["standard"]}
pydantic = "==2.9.2"

[dev-packages]

[requires]
python_version = "3.8"
